<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>http://www.laoxier365.com:3000/release/lxe.ipa?101</string>
                    </dict>
                </array>
				<key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.jsd.lxe</string>
                    <key>bundle-version</key>
                    <string>1.0.1</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>subtitle</key>
                    <string>山西最火爆的游戏麻将</string>
                    <key>title</key>
                    <string>老西儿麻将</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
